* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	--bright-pink: #ff1d58;
	--lighter-pink: #f75990;
	--yellow: #fff685;
	--blue-light: #00ddff;
	--brutal-blue: #0049b7;
}
main {
	background-color: var(--yellow);
	height: 100vh;
}

.header {
	display: flex;
	padding: 2vw 10vw 2vw 10vw;
	margin-bottom: 30px;
	align-items: center;
	background-color: var(--bright-pink);
	color: white;
}
h1 {
	flex: 3;
}
h2 {
	text-align: center;
	color: var(--bright-pink);
}

.popUp {
	position: relative;
	text-align: center;
	width: 100%;
}

.formPopup {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	border: 3px solid var(--blue-light);
	background-color: white;
	width: 400px;
	padding: 20px;
	border-radius: 15px;
}

form {
	flex: 1;
}

form > div {
	display: flex;
	padding: 10px 0;
	align-items: center;
}

div > label {
	flex: 1 0 120px;
	max-width: 220px;
	text-align: left;
	font-weight: 500;
}
input {
	flex: 1 0 220px;
	background: #edf7f6;
	color: var(--lighter-pink);
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	border: none;
	border: 1px solid var(--lighter-pink);
	align-self: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	text-align: start;
}

h3 {
	padding: 15px 0;
}

.bookDisplay {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, minmax(150px, 300px));
	gap: 15px;
	margin-top: 30px;
	justify-content: center;
}

.bookDisplay > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--brutal-blue);
	border-radius: 15px;
	padding: 20px;
	gap: 10px;
	background-color: var(--blue-light);
	color: var(--brutal-blue);
}
div > button {
	width: 100%;
	justify-content: space-between;
}

.buttons > button,
.submitButton,
.closeFormButton {
	padding: 12px 32px;
	border: none;
	color: white;
	background-color: var(--brutal-blue);
	border-radius: 15px;
	word-wrap: normal;
}
.buttons {
	align-self: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.buttons > button {
	align-self: center;
	flex: 1;
	text-align: center;
}
.label {
	flex: 1 0 120px;
}

.newBook {
	padding: 15px 32px;
	border: none;
	color: white;
	background-color: var(--lighter-pink);
	border-radius: 15px;
	align-self: center;
	flex: 1;
}

input[type="checkbox"] {
	accent-color: var(--lighter-pink);
}
