@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway:wght@200&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;

	--bright-pink: #ff414e;
	--orange: #ff8928;
	--yellow: #ffde22;
	--white: #ffffff;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	background-color: var(--yellow);
	padding: 20px 76.3px;
	flex: 1;
}

.header {
	display: flex;
	padding: 2vw 10vw 2vw 10vw;
	align-items: center;
	background-color: var(--bright-pink);
	color: white;
}
h1 {
	flex: 3;
}
.material-symbols-outlined {
	font-size: inherit;
	padding: 0 10px;
	font-weight: inherit;
}

.popUp {
	position: relative;
	text-align: center;
	width: 100%;
}

.formPopup {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	border: 3px solid var(--white);
	background-color: white;
	width: 400px;
	padding: 20px;
	border-radius: 15px;

	margin-top: 50px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.readToggle {
	
}

form {
	flex: 1;
}

form > div {
	display: flex;
	padding: 10px 0;
	align-items: center;
}

div > label {
	flex: 1 0 120px;
	max-width: 220px;
	text-align: left;
	font-weight: 500;
}
input {
	flex: 1 0 220px;
	background: var(--white);
	color: var(--orange);
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	border: 2px solid;
	border-color: var(--orange);
	align-self: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	text-align: start;
	outline: none;
}
input:focus {
	border-color: var(--bright-pink);
}

h3 {
	padding: 15px 0;
}

.bookDisplay {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, minmax(150px, 300px));
	gap: 15px;
	margin-top: 30px;
	justify-content: center;
}
.bookContainer {
	color: var(--bright-pink);
	font-weight: 300;
}

.bookDisplay > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--orange);
	border-radius: 15px;
	padding: 20px;
	gap: 10px;
	background-color: var(--white);
	color: var(--orange);
}
/* div > button {
	 width: 100%; 
	justify-content: space-between;
} */

.buttons > button,
.submitButton,
.closeFormButton {
	padding: 12px 32px;
	border: none;
	color: white;
	background-color: var(--orange);
	border-radius: 15px;
	word-wrap: normal;
}
.buttons {
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.buttons > button {
	align-self: center;
	flex: 1;
	text-align: center;
	width: 100%;
}
button:active {
	box-shadow: 0 5px var(--yellow);
	transform: translateY(4px);
}

button {
	box-shadow: 0 9px var(--white);
}
.label {
	flex: 1 0 120px;
}

button.newBook {
	padding: 15px 25px;
	border: none;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 15px;
	align-self: center;
	font-size: 1.5em;
	font-weight: 500;
}

input[type="checkbox"] {
	accent-color: var(--bright-pink);
	border: none;
}

footer {
	text-align: center;
	background-color: var(--bright-pink);
	color: white;
	padding: 10px;
}

a {
	color: white;
}
