@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway:wght@200&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;

	--bright-pink: #ff414e;
	--orange: #ff8928;
	--yellow: #ffde22;
	--white: #ffffff;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	background-color: var(--yellow);
	padding: 20px 76.3px;
	flex: 1;
}

.header {
	display: flex;
	padding: 2vw 10vw 2vw 10vw;
	align-items: center;
	background-color: var(--bright-pink);
	color: white;
}
h1 {
	flex: 3;
}
.material-symbols-outlined {
	font-size: inherit;
	padding: 0 10px;
	font-weight: inherit;
}

.popUp {
	position: absolute;
	text-align: center;
	width: 100%;
}

.formPopup {
	display: none;
	position: relative;
	left: 50%;
	margin-left: -200px;
	border: 3px solid var(--orange);
	background-color: white;
	width: 400px;
	padding: 20px;
	border-radius: 15px;
	margin-top: 50px;
	text-align: start;
}

.changeReadStatus {
	display: flex;
	align-items: center;
}

.changeReadStatus > div {
	flex: 1;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	right: 0px;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: relative;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--yellow);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: relative;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--orange);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

form {
	flex: 1;
}



.inputItem > input {
	flex: 1; 
	background: var(--white);
	color: var(--orange);
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	border: 2px solid;
	border-color: var(--orange);
	text-align: start;
	outline: none;
	max-width: 280px;
	width: fit-content;
}

.inputItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 10px; 
}

input:focus {
	border-color: var(--bright-pink);
}

h3 {
	padding: 15px 0;
}

.bookDisplay {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, minmax(150px, 300px));
	gap: 15px;
	margin-top: 30px;
	justify-content: center;
}

.bookDisplay > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--orange);
	border-radius: 15px;
	padding: 20px;
	gap: 10px;
	background-color: var(--white);
	color: black;
	font-weight: 600;
}

.buttons > button,
.submitButton,
.closeFormButton {
	padding: 10px;
	border: none;
	color: white;
	background-color: var(--orange);
	border-radius: 15px;
	word-wrap: normal;
} 
.buttons {
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.buttons > button {
	align-self: center;
	flex: 1;
	text-align: center;
	width: 100%;
	font-weight: 600;
}

.popupButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.popupButtons > button {	
	min-width: 8em;
}

button:active {
	box-shadow: 0 5px var(--yellow);
	transform: translateY(4px);
}

.inputContainer {
	display: flex;
	justify-content: space-between;
}

button {
	box-shadow: 0 9px var(--white);
}

button.newBook {
	padding: 15px 25px;
	border: none;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 15px;
	align-self: center;
	font-size: 1.5em;
	font-weight: 500;
}

input[type="checkbox"] {
	accent-color: var(--bright-pink);
	border: none;
}

footer {
	text-align: center;
	background-color: var(--bright-pink);
	color: white;
	padding: 10px;
}

a {
	color: white;
}
